<div class="row border-top border-bottom pt-3">
  {% assign bio = site.pages | where:"title","about" %}
  {% assign bio = bio[0].content %}
  {% assign about_url = "/about.html" | relative_url %}
  <div class="col-sm-2">
    <div class="float-sm-right pt-1">{% avatar dhillonv10 size=100 %}</div>
  </div>
  <div class="col-sm-8">
    Opsbug is a collection of my thoughts on how technology and medicine are shaping the applied science of longevity, along with a few other obsessions. Every post is a bug report highlighting open problems (bugs) from clinical or basic science literature and the progress made in resolving the bugs.
{{ bio[0] | append:' <a href="URL">More about the author &rarr;</a>' | replace:"URL",about_url | markdownify }}
  </div>
  <div class="col-sm-2 text-center">
    <p class="small">This page is open source. Please {% github_edit_link "help improve it" %}.</p>
      <a class="btn btn-outline-primary btn-lg btn-sm" href="{% github_edit_link %}" title="Help improve article {{ page.path }}">Edit</a>
    </div>
</div>
<br>
