<style type="text/css">	

.sidebar {
    width: 8rem;
}

</style>

<div class="sidebar">
  <div class="container">
    
    <nav class="sidebar-nav">
      &nbsp; <a class="sidebar-nav-item" href="http://opsbug.com/" style="text-decoration:none"><i class="fa fa-home fa-border fa-2x"></i></a> &nbsp;
      &nbsp; <a class="sidebar-nav-item" href="http://eepurl.com/4l3tb" target="_blank" style="text-decoration:none"><i class="fa fa-envelope-open-o fa-border fa-2x"></i></a> &nbsp;
    </nav>
  
  </div>
</div>